.markdown {
  margin: 0 auto;
  text-align: left;
  max-width: 500px;
  overflow: auto;
  background-color: #fff;
  padding: 16px;
  border-radius: 5px;
}

.result {
  margin: 5px auto;
  text-align: center;
  max-width: 500px;
  overflow: auto;
  padding: 16px;
}

.App {
  display: flex;
  min-height: 100px;
  flex-direction: column;
}

.App-header {
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.1);
  padding: 10px 20px 10px 20px;
  color: #333;
  position: relative;
  z-index: 9;
  text-align: center;
}

.App-main{
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 9;
  flex: 1;
}

.App-footer{
  text-align: center;
  background-color: #fff;
  padding: 16px;
  border-radius: 5px;
}

.CodeMirror {
  min-height: 500px;
  max-width: 995px;
  position: relative;
  margin: -18px auto 0 auto;
  z-index: 999;
}
.CodeMirror-scroll {
  min-height: 500px;
}

